<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Zupfnoter</title>
  <link rel="stylesheet" type="text/css" href="public/index.css"/>
  <link rel="shortcut icon" href="public/icons/favicon.gif"/>

  <script src="vendor/jquery-1.11.1.min.js" type="application/javascript"></script>
  <script src="vendor/ace/ace.js" type="application/javascript" charset="utf-8"></script>
  <script src="vendor/ace/ext-language_tools.js" type="application/javascript" charset="utf-8"></script>

  <script src="vendor/raphael-min.js" type="application/javascript"></script>
  <script src="vendor/raphael.pan-zoom.min.js" type="application/javascript"></script>

  <script src="vendor/musical.min.js" type="application/javascript"></script>

  <script src="vendor/jqconsole.min.js" type="application/javascript"></script>
  <script src="vendor/json_parse.js" type="application/javascript"></script><!-- to get better error messages -->

  <!-- <script src="vendor/opal.min.js" type="application/javascript"></script>-->
  <script src="vendor/jspdf.min.js" type="application/javascript"></script>
  <script src="vendor/filesaver.js" type="application/javascript"></script>
  <script src="vendor/jszip.min.js" type="application/javascript"></script>
  <script src="vendor/dropbox.min.js" type="application/javascript"></script>

  <script src="vendor/abc2svg-1.js" type="application/javascript"></script>
  <script src="vendor/xml2abc-bw.js" type="application/javascript"></script>


  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="us2s6tq6bubk6xh"></script>

  <link rel="stylesheet" type="text/css" href="vendor/w2ui/dist/w2ui.min.css"/>
  <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css"/>
  <script type="text/javascript" src="vendor/w2ui/dist/w2ui.min.js"></script>

  <style>
    .spinner {
      background-color: #81cf81;

    / / margin: 100 px auto;
      -webkit-animation: sk-rotateplane 2s infinite ease-in-out;
      animation: sk-rotateplane 2s infinite ease-in-out;
    }

    @-webkit-keyframes sk-rotateplane {
      0% {
        -webkit-transform: perspective(120px)
      }
      50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
      }
      100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
      }
    }

    @keyframes sk-rotateplane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
      }
      50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      }
      100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
  </style>

  <%= javascript_include_tag 'application' %>
</head>

<body style="height: 100%;" onbeforeunload="return check_unload()">
<div id="layout" style="height: 100%">
</div>
<script type="text/javascript">

  function check_unload() {
    return "Zupfnoter verlassen? echt jetzt ...?"
  }

  function init_w2ui() {

    perspectives = {
      'tb_perspective:Alle': function () {
        w2ui['layout'].show('left', window.instant);
        w2ui['layout'].hide('bottom', window.instant);
        w2ui['layout'].show('main', window.instant);
        w2ui['layout'].show('preview', window.instant);
        w2ui['layout'].sizeTo('preview', "50%");
      },
      'tb_perspective:NotenEingabe': function () {
        w2ui['layout'].show('left', window.instant);
        w2ui['layout'].hide('bottom', window.instant);
        w2ui['layout'].show('main', window.instant);
        w2ui['layout'].hide('preview', window.instant);
        w2ui['layout'].sizeTo('preview', "50%");
      },
      'tb_perspective:HarfenEingabe': function () {
        w2ui['layout'].show('left', window.instant);
        w2ui['layout'].hide('bottom', window.instant);
        w2ui['layout'].hide('main', window.instant);
        w2ui['layout'].show('preview', window.instant);
        w2ui['layout'].sizeTo('preview', "100%");
      },
      'tb_perspective:Noten': function () {
        w2ui['layout'].hide('left', window.instant);
        w2ui['layout'].hide('bottom', window.instant);
        w2ui['layout'].show('main', window.instant);
        w2ui['layout'].hide('preview', window.instant);
      },
      'tb_perspective:Harfe': function () {
        w2ui['layout'].hide('left', window.instant);
        w2ui['layout'].hide('bottom', window.instant);
        w2ui['layout'].hide('main', window.instant);
        w2ui['layout'].show('preview', window.instant);
        w2ui['layout'].sizeTo('preview', "100%");
      },
      'tb_view:0': function () {
        uicontroller.$handle_command("view 0")
      },
      'tb_view:1': function () {
        uicontroller.$handle_command("view 1")
      },
      'tb_view:2': function () {
        uicontroller.$handle_command("view 2")
      },
      'tb_view:3': function () {
        uicontroller.$handle_command("view 3")
      },

      'tb_scale:groß': function () {
        $("#harpPreview svg").attr('height', 1400);
      },
      'tb_scale:mittel': function () {
        $("#harpPreview svg").attr('height', 700);
      },
      'tb_scale:klein': function () {
        $("#harpPreview svg").attr('height', 300);
      },

      'tbPrintA3': function () {
        url = uicontroller.$render_a3().$output('datauristring')
        window.open(url)
      },
      'tbPrintA4': function () {
        url = uicontroller.$render_a4().$output('datauristring')
        window.open(url)
      },

      'tbPlay': function () {
        uicontroller.$play_abc('selection_ff');
      },

      'tbRender': function () {
        uicontroller.editor.$resize();
        uicontroller.$render_previews();
      },

      'tb_toggle_console': function () {
        w2ui['layout'].toggle('bottom', window.instant);
        uicontroller.editor.$resize();
      },


      'tb_create': function () {
        openPopup({
          name: 'createNewSheetForm',
          text: 'Create new Sheet',
          style: 'border: 0px; background-color: transparent;',
          fields: [
            {field: 'id', text: "Id", type: 'float', required: true, html: {caption: 'Id'}},
            {
              field: 'title',
              type: 'text',
              required: true,
              html: {caption: 'Title', attr: 'style="width: 300px"'}
            },
          ],
          actions: {
            "create": function () {
              if (this.validate().length == 0) {
                uicontroller.$handle_command("c " + this.record.id + '"' + this.record.title + '"');
                w2popup.close();
              }
            },
            "reset": function () {
              this.clear();
            }
          }
        })
      },

      'tb_open': function () {
        uicontroller.$handle_command("dlogin full /");
        uicontroller.$handle_command("dchoose")
      },

      'tb_save': function () {
        uicontroller.$handle_command("dsave")
      },

      'tb_login': function () {
        openPopup({
          name: 'loginForm',
          text: 'Login',
          style: 'border: 0px; background-color: transparent;',
          fields: [
            {
              field: 'folder',
              type: 'text',
              required: true,
              html: {caption: 'Folder in Dropbox', attr: 'style="width: 300px"'}
            },
          ],
          actions: {
            "login": function () {
              if (this.validate().length == 0) {
                uicontroller.$handle_command("dlogin full " + this.record.folder)
                w2popup.close();
              }
            },
            "reset": function () {
              this.clear();
            }
          }
        })
      }
    }

    var toolbar = {
      id: 'toolbar',
      name: 'toolbar',
      items: [
        {type: 'button', id: 'tb_home', icon: 'fa fa-home', text: '<span id="lbZupfnoter">Zupfnoter</span>'},
        {type: 'html', html: '<div style="width:25px"/>'},
        {type: 'button', id: 'tb_login', text: 'login', icon: 'fa fa-sign-in', hint: 'Open in dropboxx'},
        {type: 'button', id: 'tb_create', text: 'create', icon: 'fa fa-plus-square-o', hint: 'Open in dropboxx'},
        {type: 'button', id: 'tb_open', text: 'open', icon: 'fa fa-folder', hint: 'Open in dropboxx'},
        {type: 'button', id: 'tb_save', text: 'save', icon: 'fa fa-dropbox', hint: 'Save in dropbox'},
        {
          type: 'html',
          html: '<div style="padding: 5px; background-color: #f0f0f0;;"><span id="tbStatus" style="margin-top: 5px;"></span></div>'
        },
        {
          type: 'html',
          html: '<div style="padding: 5px; background-color: #f0f0f0;;"><span id="tbCoords" style="margin-top: 5px;"></span></div>'
        },

        {type: 'spacer'},

        {
          type: 'menu', text: "sheet config", id: 'config', icon: 'fa fa-gear',
          items: [
            {text: 'title'}, {text: 'voices'},
            {text: 'flowlines'},
            {text: 'layoutlines'},
            {text: 'jumplines'},
            {text: 'synchlines'},
            {text: 'legend'},
            {text: 'notes'},
            {text: 'lyrics'},
            {text: 'nonflowrest'},
            {text: 'startpos'},
            {text: 'subflowlines'},
            {text: 'produce'},
            {text: 'layout'},
            {text: 'xx'},
          ]
        },

        {type: 'break'},
        {type: 'button', id: 'tbPrintA3', text: 'A3', icon: 'fa fa-file-pdf-o', hint: 'Print PDF A3'},
        {type: 'button', id: 'tbPrintA4', text: 'A4', icon: 'fa fa-file-pdf-o', hint: 'Print PDF A4'},
        {type: 'break'},
        {type: 'button', id: 'tb_toggle_console', text: 'Console', icon: 'fa fa-terminal', hint: 'Toggelt console'},

        {type: 'break'},
        {
          type: 'menu', id: 'tb_scale', text: 'Zoom', icon: 'fa fa-search-plus', items: [
          {text: 'large', id: 'groß'},
          {text: 'medium', id: 'mittel'},
          {text: 'small', id: 'klein'}
        ]
        },
        {
          type: 'menu', id: 'tb_perspective', text: 'Perspective', icon: 'fa fa-binoculars', items: [
          {text: 'All', icon: 'fa fa-th', id: 'Alle'},
          {text: 'Enter Notes', icon: 'fa fa-music', id: 'NotenEingabe'},
          {text: 'Enter Harp', icon: 'fa fa-file-picture-o', id: 'HarfenEingabe'},
          {text: 'Notes', icon: 'fa fa-music', id: 'Noten'},
          {text: 'Harp', icon: 'fa fa-file-picture-o', id: 'Harfe'}
        ]
        },
        {type: 'break', id: 'break0'},
        {
          type: 'menu', id: 'tb_view', text: 'Extract', icon: 'fa fa-shopping-basket', items: [
          {text: 'Extract 0', icon: 'fa fa-tags', id: "0"},
          {text: 'Extract 1', icon: 'fa fa-tags', id: "1"},
          {text: 'Extract 2', icon: 'fa fa-tags', id: "2"},
          {text: 'Extract 3', icon: 'fa fa-tags', id: "3"}
        ]
        },
        {type: 'break'},
        {type: 'button', id: 'tbRender', text: 'Render', icon: 'fa fa-refresh', hint: 'aktualisiert Ausgabe'},
        {type: 'button', id: 'tbPlay', text: 'Play', icon: 'fa fa-play', hint: 'spielt ab Auswahl'},
        {
          type: 'menu', text: 'Help', id: 'tbHelp', icon: 'fa fa-question', hint: 'Hilfe', items: [
          {text: 'Tutorials', icon: 'fa fa-tags', id: "tbTutorials"},
          {text: 'Manual', icon: 'fa fa-tags', id: "tbManual"},
          {text: 'Homepage', icon: 'fa fa-tags', id: "tbHomepage"},
        ]
        }
      ],

      onClick: function (event) {
        if (perspectives[event.target]) {
          perspectives[event.target]();
          if (event.subItem) {
            event.item.text = event.subItem.text
          }
        }
        if (event.target.split(":")[0] == 'config') {
          uicontroller.$handle_command("addconf " + event.target.split(":")[1])
        }
        if (event.target == "tb_home") {
          window.open("http://www.weichel21.de/zupfnoterpage")
        }
        if (event.target == "tbHelp:tbTutorials") {
          window.open("https://www.youtube.com/channel/UCNwzBbzhyHJOn9eHHl_guHg")
        }
        if (event.target == "tbHelp:tbHomepage") {
          window.open("http://www.zupfnoter.de")
        }
        if (event.target == "tbHelp:tbManual") {
          window.open("https://github.com/bwl21/zupfnoter/blob/master/README.md")
        }
      }
    }

    var pstyle = 'background-color: #F5F6F7; padding: 5px;';
    $('#layout').w2layout({
      name: 'layout',
      panels: [
        {type: 'top', id: 'foobar', size: 40, resizable: false, content: '', toolbar: toolbar, hidden: false},  // Toolbar
        {
          type: 'left',
          size: '50%',
          hidden: false,
          resizable: true,
          style: pstyle,
          content: '<div id="abcEditor" style="height:100%;" ></div>'
        },
        {
          type: 'main',
          style: pstyle,
          overflow: 'hidden',
          content: '<div id="tunePreview"  style="height:100%;" ></div>'
        },
        {
          type: 'preview',
          size: '50%',
          resizable: true,
          hidden: false,
          style: pstyle,
          content: '<div id="harpPreview" style="height:100%"></div>'
        },
        {
          type: 'right',
          size: 200,
          resizable: true,
          hidden: true,
          style: pstyle,
          content: '<div id="configEditor"></div>'
        },
        {
          type: 'bottom',
          size: '10%',
          resizable: true,
          hidden: true,
          style: pstyle,
          content: '<div id="commandconsole"></div>'
        }
      ]

    });
    w2ui['layout'].refresh();
    w2ui['layout'].onResize = function (event) {
      uicontroller.editor.$resize();
    };
  }
  ;


  function set_tbitem_caption(item, caption) {
    w2ui.layout_top_toolbar.set(item, {text: caption});
  }

  function update_sytemstatus_w2ui(systemstatus) {
    $("#tbStatus").html(systemstatus.dropbox);
    set_tbitem_caption('tb_view', systemstatus.view);
    if (systemstatus.music_model == 'changed') {
      $("#tb_layout_top_toolbar_item_tb_save .w2ui-tb-caption").css("color", "red")
    } else {
      $("#tb_layout_top_toolbar_item_tb_save .w2ui-tb-caption").css("color", "")
    }
  }

  function update_play_w2ui(status) {
    if (status == "start") {
      w2ui.layout_top_toolbar.set('tbPlay', {text: "Stop", icon: "fa fa-stop"})
    }
    else {
      w2ui.layout_top_toolbar.set('tbPlay', {text: "Play", icon: "fa fa-play"})
    }
  }
  ;

  function openPopup(theForm) {

    if (!w2ui[theForm.name]) {
      $().w2form(theForm);
    }
    $().w2popup('open', {
      title: theForm.text,
      body: '<div id="form" style="width: 100%; height: 100%;"></div>',
      style: 'padding: 15px 0px 0px 0px',
      width: 500,
      height: 300,
      showMax: true,
      onToggle: function (event) {
        $(w2ui.foo.box).hide();
        event.onComplete = function () {
          $(w2ui.foo.box).show();
          w2ui.foo.resize();
        }
      },
      onOpen: function (event) {
        event.onComplete = function () {
          // specifying an onOpen handler instead is equivalent to specifying an onBeforeOpen handler, which would make this code execute too early and hence not deliver.
          $('#w2ui-popup #form').w2render(theForm.name);
        }
      }
    });
  }

</script>
<%= begin
      result = javascript_include_analytics()
    rescue
      result = "<!-- running in rackup server, no analytics -->"
    end
    result
%>


</body>
</html>
