ZSUPP_Manifests/.graphml
ZSUPP_Manifests/.md
ZSUPP_Manifests/Compare.txt
.graphml
ZGEN_Documents/UD_Zupfnoter-Handbuch-de_release.docx
ZGEN_Documents/UD_Zupfnoter-Handbuch-de_review.latex
UD_Zupfnoter-Handbuch-de_release.docx
