30_sources/SRC_Zupfnoter/src/doc
30_sources/SRC_Zupfnoter/src/.yardoc
30_sources/SRC_Zupfnoter/src/out
30_sources/SRC_Zupfnoter/src/.sass-cache/b473c0785fbcfc41f6599b88c8fd933f27d329c7/index.scssc
30_sources/SRC_Zupfnoter/src/.sass-cache/b473c0785fbcfc41f6599b88c8fd933f27d329c7/reset.sassc
30_sources/SRC_Zupfnoter/src/.sass-cache/df9ce2c22da110915187d99402413dd6d9081360/index.scssc
30_sources/SRC_Zupfnoter/src/.sass-cache/df9ce2c22da110915187d99402413dd6d9081360/reset.sassc
30_sources/SRC_Zupfnoter/assets/.sass-cache/b473c0785fbcfc41f6599b88c8fd933f27d329c7/index.scssc
30_sources/SRC_Zupfnoter/assets/.sass-cache/b473c0785fbcfc41f6599b88c8fd933f27d329c7/reset.sassc
Gemfile.lock
.idea
30_sources/SRC_Zupfnoter/deploy_files/index.html
30_sources/SRC_Zupfnoter/deploy_files/public/build.js
30_sources/SRC_Zupfnoter/deploy_files/public/icons/favicon.gif
30_sources/SRC_Zupfnoter/deploy_files/public/index.css
30_sources/SRC_Zupfnoter/deploy_files/vendor/abcjs_basic_1.10-min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/abcjs_basic_1.11.zupfnoter-min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/abcjs_basic_1.12.zupfnoter-min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/abcjs_plugin_nojquery_1.9-min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/ace/ace.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/dropbox.min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/filesaver.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/jquery-1.11.1.min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/jspdf.min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/jszip.min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/musical.min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/opal.min.js
30_sources/SRC_Zupfnoter/deploy_files/vendor/raphael.pan-zoom.min.js
30_sources/SRC_Zupfnoter/deploy_files
_analytics.inc.html
30_sources/SRC_Zupfnoter/src/node_modules
30_sources/SRC_Zupfnoter/src/.sass-cache/94d761072db77c398dc2635806dd23cffc1ad176/index.scssc
30_sources/SRC_Zupfnoter/src/.sass-cache/94d761072db77c398dc2635806dd23cffc1ad176/reset.sassc
30_sources/SRC_Zupfnoter/vendor/font-awesome/less
30_sources/SRC_Zupfnoter/vendor/font-awesome/scss
HELP-US-OUT.txt
build.js
x.json
launch.json
30_sources/SRC_Zupfnoter/src/x.locales.template
30_sources/SRC_Zupfnoter/src/xxx.html
30_sources/SRC_Zupfnoter/src/xxx.md
.idea.outdated
30_sources/SRC_Zupfnoter/src/version-prod.rb
30_sources/UD_Zupfnoter-Handbuch/000_UD-Zupfnoter-Version.md
30_sources/SRC_Zupfnoter/public/soundfont/Scc1t2/*
30_sources/SRC_Zupfnoter/sf2_sources/backups/*
30_sources/SRC_Zupfnoter/sf2_sources/wav/01_solo-G1.wav
30_sources/SRC_Zupfnoter/sf2_sources/*/*
30_sources/SRC_Zupfnoter/src/.sass-cache
.idea
