@import "reset";

//@import "icons/fontello.css";

$toolbarHeight: 30px;
$titleHeight: 2em;
$consoleHeight: 50%;

$backgoundColor: #0A425C;
$titleColor: #1BA5A5;
$containerColor: white;

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $backgoundColor;
  color: white;
}

.marked {
  //background-color: rgba(255, 0, 0, 0.2);
  background: url(icons/underline.gif) bottom repeat-x;
  text-underline-mode: true;
  position: absolute;
}

.container {
  overflow: hidden;
  position: absolute;
  background-color: $containerColor;
  border-right: 1px solid $titleColor;

  .title {
    background-color: $titleColor;
    width: 100%;
    height: $titleHeight;
    line-height: $titleHeight;
    text-align: right;

    .head {
      position: absolute;
      left: 1em;
      font-size: 80%;
      font-weight: bold;
    }
    .button {
      border-left: 1px solid black;
      padding: 0em 1em 0em 1em;
    }
  }
  .resize {
    cursor: row-resize;
  }

  .body {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: $titleHeight;
  }
}

#toolbar {
  height: $toolbarHeight;
  width: 100%;
  line-height: $toolbarHeight;
  text-align: right;
  font-size: 80%;
  border-bottom: 1px solid black;

  span {
    display: inline-block;
  }

  .head {
    position: absolute;
    left: 1em;
    font-weight: bold;
  }
  .button {
    padding: 0em 1em 0em 1em;
    border-left: 1px solid black;
    cursor: pointer;
  }
}

#commandconsole {

  overflow: auto;
  height: 100%;
  font-size: 80%;
  color: black;
  font-family: monospace;

  ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    color: #000000;
  }

  li {
    border-bottom: 1px solid black;
    line-height: 1.2em;
    padding-left: 1em;
    list-style: none;
  }

  .error {
    color: #ff0035;
  }

  .info {
    color: #000000;
  }

  .warning {
    color: #e8661d;
  }

  .debug {
    color: #120ee8;
  }

  .time {
    padding-left: 1em;
    width: 10%;
    display: inline-block;
  }
  .msg {
    display: inline-block;
  }


  // this stuff is mainly copied from opal-irb

  .jqconsole {
    padding: 10px;
    padding-bottom: 10px;
  }
  .jqconsole-cursor {
    background-color: #999999;
  }
  .jqconsole-blurred .jqconsole-cursor {
    background-color: #ffffff;
  }
  .jqconsole-prompt {
    color: #000;
    font-weight: bold;

  }
  .jqconsole-old-prompt {
    color: #000;
    font-weight: bold;
  }
  .jqconsole-input {
    color: #dd0;
  }
  .jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
  }
  .brace {
    color: #00FFFF;
  }
  .paran {
    color: #FF00FF;
  }
  .bracket {
    color: #FFFF00;
  }
  .jqconsole-composition {
    background-color: red;
  }


}

#leftColumn {
  position: absolute;
  left: 0px;
  top: $toolbarHeight;
  bottom: 0px;
  right: 50%;
}

#rightColumn {
  position: absolute;
  left: 50%;
  top: $toolbarHeight;
  bottom: 0px;
  right: 0px;
}

#abcEditorContainer {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: $consoleHeight;

  .body {
    top: 0px;
  }
  .editor {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

#tunePreviewContainer {
  top: 0px;
  bottom: 50%;
  left: 0%;
  right: 0%;
}

#tunePreview {
  overflow: auto;
}

#harpPreview {
  overflow: auto;
}

#harpPreviewContainer {
  top: 50%;
  bottom: 0px;
  left: 0%;
  right: 0px;
}

#consoleLog {
  top: 100% - $consoleHeight;
  left: 0px;
  right: 0%;
  bottom: 0px;
}

#dragbar {
  cursor: col-resize;
  color: $titleColor;
  width: 5px;
  position: absolute;
  top: $toolbarHeight +1px;
  bottom: 0px;
  right: 50%;
  z-index: 999;
}