/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url(icons/fontello.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #0a425c;
  color: white; }

.container {
  overflow: hidden;
  position: absolute;
  background-color: white;
  border-right: 1px solid #1ba5a5; }
  .container .title {
    background-color: #1ba5a5;
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: right; }
    .container .title .head {
      position: absolute;
      left: 1em;
      font-size: 80%;
      font-weight: bold; }
    .container .title .button {
      border-left: 1px solid black;
      padding: 0em 1em 0em 1em; }
  .container .resize {
    cursor: row-resize; }
  .container .body {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 2em; }

#toolbar {
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: right;
  font-size: 80%;
  border-bottom: 1px solid black; }
  #toolbar span {
    display: inline-block; }
  #toolbar .head {
    position: absolute;
    left: 1em;
    font-weight: bold; }
  #toolbar .button {
    padding: 0em 1em 0em 1em;
    border-left: 1px solid black;
    cursor: pointer; }

#console ul {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  color: #000000; }
#console li {
  border-bottom: 1px solid black;
  line-height: 2em;
  padding-left: 1em; }
#console .error {
  color: #ff0035; }
#console .warning {
  color: #e8d300; }
#console .time {
  padding-left: 1em;
  width: 10%;
  display: inline-block; }
#console .msg {
  display: inline-block; }

#leftColumn {
  position: absolute;
  left: 0px;
  top: 30px;
  bottom: 0px;
  right: 50%; }

#rightColumn {
  position: absolute;
  left: 50%;
  top: 30px;
  bottom: 0px;
  right: 0px; }

#abcEditorContainer {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 30%; }
  #abcEditorContainer .body {
    top: 0px; }
  #abcEditorContainer .editor {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; }

#tunePreviewContainer {
  top: 0px;
  bottom: 50%;
  left: 0%;
  right: 0%; }

#harpPreviewContainer {
  top: 50%;
  bottom: 0px;
  left: 0%;
  right: 0px; }

#consoleLog {
  top: 70%;
  left: 0px;
  right: 0%;
  bottom: 0px; }

#dragbar {
  cursor: col-resize;
  color: #1ba5a5;
  width: 5px;
  position: absolute;
  top: 31px;
  bottom: 0px;
  right: 50%;
  z-index: 999; }
