body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #0A425C;
  color: green;
  margin: 0px;
  vertical-align: center; }

.marked {
  background: url(icons/underline.gif) bottom repeat-x;
  text-underline-mode: true;
  position: absolute; }

.container {
  overflow: hidden;
  position: absolute;
  background-color: white;
  border-right: 1px solid #1BA5A5; }
  .container .title {
    background-color: #1BA5A5;
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: right; }
    .container .title .head {
      position: absolute;
      left: 1em;
      font-size: 80%;
      font-weight: bold; }
    .container .title .button {
      border-left: 1px solid black;
      padding: 0em 1em 0em 1em; }
  .container .resize {
    cursor: row-resize; }
  .container .body {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 2em; }

#toolbar {
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: right;
  font-size: 80%;
  border-bottom: 1px solid black; }
  #toolbar span {
    display: inline-block; }
  #toolbar .head {
    position: absolute;
    left: 1em;
    font-weight: bold; }
  #toolbar .button {
    padding: 0em 1em 0em 1em;
    border-left: 1px solid black;
    cursor: pointer; }

#commandconsole {
  overflow: auto;
  height: 100%;
  font-size: 80%;
  color: black;
  font-family: monospace; }
  #commandconsole ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    color: #000000; }
  #commandconsole li {
    border-bottom: 1px solid black;
    line-height: 1.2em;
    padding-left: 1em;
    list-style: none; }
  #commandconsole .error {
    color: #ff0035; }
  #commandconsole .info {
    color: #000000; }
  #commandconsole .warning {
    color: #e8661d; }
  #commandconsole .debug {
    color: #120ee8; }
  #commandconsole .time {
    padding-left: 1em;
    width: 10%;
    display: inline-block; }
  #commandconsole .msg {
    display: inline-block; }
  #commandconsole .jqconsole {
    padding: 10px;
    padding-bottom: 10px; }
  #commandconsole .jqconsole-cursor {
    background-color: #999999; }
  #commandconsole .jqconsole-blurred .jqconsole-cursor {
    background-color: #ffffff; }
  #commandconsole .jqconsole-prompt {
    color: #000;
    font-weight: bold; }
  #commandconsole .jqconsole-old-prompt {
    color: #000;
    font-weight: bold; }
  #commandconsole .jqconsole-input {
    color: #dd0; }
  #commandconsole .jqconsole-old-input {
    color: #bb0;
    font-weight: normal; }
  #commandconsole .brace {
    color: #00FFFF; }
  #commandconsole .paran {
    color: #FF00FF; }
  #commandconsole .bracket {
    color: #FFFF00; }
  #commandconsole .jqconsole-composition {
    background-color: red; }

#leftColumn {
  position: absolute;
  left: 0px;
  top: 30px;
  bottom: 0px;
  right: 50%; }

#rightColumn {
  position: absolute;
  left: 50%;
  top: 30px;
  bottom: 0px;
  right: 0px; }

#abcEditorContainer {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50%; }
  #abcEditorContainer .body {
    top: 0px; }
  #abcEditorContainer .editor {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; }

#tunePreviewContainer {
  top: 0px;
  bottom: 50%;
  left: 0%;
  right: 0%; }

#tunePreview {
  overflow: auto; }

#harpPreview {
  overflow: auto; }

#harpPreviewContainer {
  top: 50%;
  bottom: 0px;
  left: 0%;
  right: 0px; }

#consoleLog {
  top: 50%;
  left: 0px;
  right: 0%;
  bottom: 0px; }

#dragbar {
  cursor: col-resize;
  color: #1BA5A5;
  width: 5px;
  position: absolute;
  top: 31px;
  bottom: 0px;
  right: 50%;
  z-index: 999; }

rect.abcref {
  fill: grey;
  fill-opacity: 0.01; }

rect.abcref:hover {
  fill-opacity: 0.5; }

.zncontrol {
  opacity: 0.1; }

.zncontrol:hover, .zncontrol:active {
  opacity: 0.5; }

rect.highlight {
  fill: red;
  fill-opacity: 0.2; }

.zn-nilfield {
  border: 1px solid #b5b4b6 !important;
  background-color: #b5b4b6 !important; }

.zn-statusbar {
  border: 1px solid #b5b4b6 !important; }

.zn_draggable {
  cursor: pointer; }

.w2ui-tb-caption {
  vertical-align: middle; }

.w2ui-overlay {
  color: black; }
  .w2ui-overlay p {
    margin: 1ex;
    margin-left: 1em; }
  .w2ui-overlay blockquote {
    margin-left: 1em; }
  .w2ui-overlay ul {
    margin-left: 4em;
    list-style: square outside; }

#statusbar-layout .w2ui-tb-caption {
  vertical-align: top; }

#statusbar-layout table {
  vertical-align: top; }

#statusbar-layout * {
  vertical-align: top; }

#tunePreview text, #tunePreview path {
  pointer-events: none; }

#harpPreview .znunhighlight {
  stroke: #000000; }
